.principal-container-home {
    background-color: rgb(203, 203, 203);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
 
.card-container-home {
    border: 1px solid #000000; 
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.938); 
    background-color: #000000; 
    border-radius: 5px; 
    text-align: center;
    border: 3px solid #ffffff;
    padding: 50px;
  }

  .card-container-home ul {
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .card-container-home li {
    list-style: none; 
    /* margin: 5px 0; */
    line-height: 2;
  }
  
  .card-container-home li a {
    text-decoration: none; 
    color: #fcef81;
    font-weight: 500;
    text-shadow: 0 0 1px #f1ee1e;
    text-transform: uppercase;
  }
