.container-todolist-exe3{
    text-align: center;
}

.container-todolist-exe3 ul{
    list-style: none;
}

.todolist-img-exe3{
    width: 25%;
}

.todolist-font-exe3{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

